/* Imports Lato and Oswald fonts which are used throughout */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Navbar */
#navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#navbar h1 {
    position: fixed;
    display: inline;
    float: left;
    left: 1%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    margin-right: 20px;
    background-color: transparent;
    height: auto;
    width: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

#navbar ul li a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
    line-height: 50px; /* Ensures the text vertically aligns within the navbar */
}

#navbar ul li a:hover {
    color: #6ca0dc; /* Medium-light blue */
    text-decoration: underline;
}

/* Sidebar */
#sidebar {
    background-color: #f7f7f7;
    width: 250px;
    margin-top: 55px;
    height: calc(100vh - 55px);
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    border-right: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);
}

#sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
}

#notebook-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.notebook-name {
    font-size: 15px;
}

.notebook-item {
    height: 75px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.notebook-item:hover {
    background-color: #fdf250;
    transition: 0.3s;
}

#addNotebookSidebar {
    background-color: #d9d9d9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new-note-sidebar {
    font-size: 1.2rem;
    margin-right: 10px;
    transform: translateY(0px);
    transform: translateX(50px);
}

#addNotebookSidebar i {
    font-size: 1.2rem;
    color: black;
}

#addNotebookSidebar:hover {
    background-color: #fdf250;
    transition: 0.25s;
}

.selected-notebook {
    background-color: #fff385;
    font-weight: bold;
    border-left: 4px solid #ffc73a;
}

/* Container for the notes */
#container {
    margin-left: 275px;
    margin-top: 55px;
    background-color: white;
    position: fixed;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: calc(100% - 250px);
    height: calc(100vh - 55px);
    padding-left: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

/* Ensure that the list of notes is properly aligned */
#notes-list {
    display: flex;
    flex-wrap: wrap; /* Ensure notes flow properly if more than one */
    justify-content: flex-start; /* Align the notes to the left */
    gap: 10px; /* Space between notes */
}

#notes-list li {
    background-color: #fdf250; /* Sticky note color */
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ensure each note item takes up the appropriate space */
.note-item {
    background-color: #fff385;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Notes Styling */
#list-header {
    display: flex;
    align-items: left;
    justify-content: left;
}

/* Occupies space to the right of the + button so all notes appear below */
.blank div {
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    position: absolute;
    transform: translateY(-75px);
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

#addNoteDiv {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addNoteDiv:hover {
    transition: 0.25s;
    background-color: #eeeeee;
}

#addNoteDiv i {
    font-size: 70px;
    color: rgba(0, 0, 0, 0.5);
}

#list-container {
    display: flex;
    align-items: left;
    justify-content: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

li {
    background-color: #fff385;
    margin: 5px 0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 9px 9px 18px #b3b3b3, -9px -9px 18px #ffffff;
}

li span {
    font-size: 12px;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-y: auto;
}

/* Ensure the buttons are placed side by side */
.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

.editBtn, .deleteBtn {
    background-color: transparent;  /* Remove button background for icon-only buttons */
    border: none;                   /* Remove button borders */
    cursor: pointer;
    padding: 7px;
    width: 40px;
    font-size: 16px;                /* Adjust icon size */
    color: black;
    border-radius: 8px;
}

.editBtn {
    background-color: gainsboro;
}

.deleteBtn {
    background-color: rgb(255, 120, 120)
}

.deleteBtn:hover {
    background-color: rgb(255, 90, 80, 90)
}

.editBtn:hover {
    background-color: rgb(200, 200, 200);
}

.deleteNotebookBtn {
    background-color: rgb(255, 120, 120);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
}

.deleteNotebookBtn:hover {
    background-color: red;
}


#popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid rgb(75, 190, 250);
}

#btn-container {
    display: flex;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: rgb(75, 190, 250);
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: rgb(255, 120, 120);
}

#submitBtn:hover {
    background-color: rgb(35, 130, 255);
    transition: 0.35s;
}

#closeBtn:hover {
    background-color: red;
    transition: 0.35s;
}

/* Add Modal Styles Here */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content input {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}



/* SIGN-IN PAGE */
/* Login Page Styling */
#login-container {
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#login-container p {
    margin-bottom: 20px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #6ca0dc; /* Medium-light blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color: #5a8bcf;
}

.create-account-btn {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #6ca0dc;
    text-decoration: none;
}

.create-account-btn:hover {
    text-decoration: underline;
}



/* CREATE ACCOUNT PAGE */
/* Account Creation Page Styling */
#create-account-container {
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#create-account-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #6ca0dc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color: #5a8bcf;
}

.back-to-login {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #6ca0dc;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}
